DISCORD_BOT_TOKEN = 

DISCORD_UPLOAD_filename = 
DISCORD_UPLOAD_modName = 
DISCORD_UPLOAD_modVersion = 
DISCORD_UPLOAD_modThumbnail =
DISCORD_UPLOAD_mcVersion = 
DISCORD_UPLOAD_forgeVersion = 
DISCORD_UPLOAD_channelId = 